/* Make the #destinations_container content to display horizontally and wrap */
.submit_btn {
  width: 100%;
}
#destinations_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#title {
  text-align: center;
}

.buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main_container {
  display: flex;
}
.centered_text {
  text-align: center;
}

.box {
  height: 90vh;
  border: 1px solid #606060;
  margin: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.cart-page {
  margin: 80px auto;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

.checkoutbtn {
  display: inline-block;
  background: #3a8bcd;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

img:hover {
  cursor: pointer;
}
