.btn1 {
  color: green;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
.h4 {
  color: #bbfe04;
}
.h3 {
  font-size: 26px;
  font-family: sans-serif;
  font-weight: bolder;
  color: #04fe19;
}
.p1 {
  font-size: 18px;
  font-weight: lighter;
}
.p2 {
  color: blue;
  font-size: 30px;
  font-family: fantasy;
  font-weight: bolder;
}
.tool1 {
  font-size: 20px;
}
